@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 15, 15);
  height: 100vh;
  color: white;
} 

button {
  color: black;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.characters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.character {
  background-color: white;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
  color: black;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.confirmRace {
  position:absolute;
  left: 450px;
}

.hoverable {
  position: relative;
}

.hoverable>.hoverable_tooltip {
  display: none;
}

.hoverable:hover>.hoverable_tooltip {
  display: flex;
  position: absolute;
  top: 1em;
  left: 1em;
  background: black;
  text-align: center;
  width: max-content;
  font-size: 15px;
}

.genderConfirmA {
  position: absolute;
  left:50px;
}

.genderConfirmText {
  width: 100%
}

.genderConfirmB {
  position: absolute;
  right: 50px;
  bottom: -1px
}

.col-lg-9 {
  padding: 0px;
}

.morrowindTextButton {
  cursor: pointer;
  border: none;
  background: none;
  padding-left: 5px;
  padding-right: 5px;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

html, body {
    height: 100%;
    overflow: hidden
}

.root {
  height: 100%
}

@font-face {
  font-family: Magic Cards;
  src: url('Magic\ Cards.ttf');
}

.text {
  height: 250px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: rgb(34, 34, 34);
  color: #F0E68C;
  font-size: 15px;
  letter-spacing: 0.7px;
}

.options {
  line-height: 0.8;
}

.npcTextBox {
  padding-top: 5px;
  padding-left: 5px;
  margin: 5px;
  margin-left: 15px;
  text-align: left;
  overflow: auto;
  height: 190px;
  width: 80%;
}

.npcText {
  line-height: 15px;
}

.boxSpacing {
  margin-top:20px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.lightText {
  color: #f5f2d6f8;
  margin-bottom: 2px;
}

.mainGoldBoxOutline {
  border: 5px solid rgb(188,162,117);
}

.goldBoxOutline {
  border: 1px solid rgb(188,162,117);
}

.appearanceBox {
  font-size: 5em;
  width: 5em;
  height: 5em;
  margin-bottom: 10px;
  padding-top: 1.5em;
  text-align: center;
  color: white;
}

.skillBonuses {
  text-align: left;
}

.characterSpecials {
  width: 200px;
}

.classBox {
  height: 100px;
  width: 600px;
}

.classList {
  height: 100px;
  text-align:left;
}

.skillList {
  line-height: 20px;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.raceBox {
  width: 800px;
  padding: 20px;
  text-align: left;
}

.raceList {
  padding-left: 5px;
  height: 250px;
  overflow: auto;
}

a {
  color: red;
}

.morrowindColorText {
  color: #F0E68C;
}

.morrowindFont {
  font-family: Magic Cards;
  letter-spacing: 1px;
}

.choices{
  margin:0px;
  margin-bottom:-5px;
}

.npcTextOptions {
  padding: 0px;
  padding-top: 10px;
  padding-left: 5px;
  text-align: left;
  border: 1px solid #F0E68C;
  overflow:auto;
  height: 150px;
}

.col-sm-5 {
  padding: 0;
}

.col-sm-7 {
  padding: 0;
  width: 58.336%
}

.col-sm-12 {
  padding: 0;
}

.charSheetSection {
  height: 300px;
}

.charSheetRow {
  padding-left: 20px;
  padding-right: 5px;
  overflow: auto;
  height: 250px;
}

table {
  width: 100%;
  margin-bottom: 5px;
}

td {
  padding-left: 5px;
  padding-right: 5px;
}

.skillListItem {
  padding-left: 10px;
}

.smallMap {
  font-size: 5.2px;
  padding: 0;
  margin: 0;
  margin-top: -10px;
}

.inventory {
  padding: 10px;
  text-align: left;
  height: 245px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2em;
}

.headerText {
  background-color: black;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 3px;
  font-size: 16px;
  letter-spacing: 1px;
}

.headerBox {
  background-color: rgb(188,162,117);;
}

.stats {
  height: 20px;
  width: 100px;
  margin-bottom: 5px;
  margin-right: -15px;
  font-size: 12px;
}

.statBoxInfo {
  padding-left: 0px;
  padding-right: 0px;
  margin-right:25px;
}

.progress {
    margin-top: 5px;
    position: relative;
    background-color:#000
  }
  
.progress-bar-text {
    position: absolute;
    text-align: center;
    line-height: 20px; /* line-height should be equal to bar height */
    overflow: hidden;
    right: 0;
    left: 0;
    top: 0;
}
    
.sidenav {
    padding-top: 20px;
    background-color: white;
}

#npcSpecialTextOption {
    color: blue;
}

.guide {
    list-style-type: none;
    text-align: left;
}

.gameWindow { 
    height: 100%
}

.col {
    height: 100%
}

.container {
    height: 75%
}

pre {
    display: block;
    padding: 20px;
    margin: 20px;
    color: white;
    background-color: rgb(15, 15, 15);;
    border: none;
    overflow:visible
}

.game {
    height: 75%;
    margin-bottom: 20px;
}

.row {
    display: block;
    flex-direction: row;
    font-family: monospace;
}
  
.mapContainer {
    width: 400px;
    height: 400px;
    margin: 8px auto 0px;
    overflow: hidden;
    border-style: dashed;
    margin-right:40px;
    margin-left:35px;
}

.map {
    top: 141px;
    left: 131px;
    position: relative;
    font-size: 4rem;
    line-height: 40px;
    transition: transform linear 0.5s;
}

.centered {
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;    
}